* {
  -webkit-tap-highlight-color: transparent;
}
.z-60 {
  z-index: 60;
}
.z-70 {
  z-index: 70;
}
.underline {
  width: 6rem;
  height: 7px;
  position: relative;
}
.underline::before,
.underline::after {
  content: "";
  position: absolute;
  width: 5rem;
  background: #00050b;
  height: 1px;
}
.underline::before {
  top: 0;
  left: 0;
}
.underline::after {
  bottom: 0;
  right: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.message-clip {
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
}
.noscrollbar::-webkit-scrollbar {
  width: 5px;
  background: #ffffff;
}
.noscrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.noscrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media only screen and (max-width: 688px) {
  .message-clip {
    clip-path: polygon(0 19%, 50% 0, 100% 19%, 100% 100%, 0 100%);
  }
}
.swiper-pagination-bullets {
  bottom: 6px !important;
}
